definitions:
  steps:
    - step: &install-web-step
        name: Install web
        image: node:18-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-web/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-web
          - npm ci
        artifacts:
          - crest-annotation-web/node_modules/**
        caches:
          - node

    - step: &style-web-step
        name: Style check web
        image: node:18-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-web/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-web
          - npm run style

    - step: &lint-web-step
        name: Lint web
        image: node:18-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-web/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-web
          - npm run lint

    - step: &build-web-step
        name: Build web
        image: node:18-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-web/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-web
          - npm run build
        artifacts:
          - crest-annotation-web/build/**

    - step: &lint-backend-step
        name: Lint backend
        image: python:3.10-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-backend/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-backend
          - pip install -r requirements.txt
          - pylint --fail-under=9 app

    - step: &build-backend-docker-step
        name: Build and publish backend docker image
        image: public.ecr.aws/aws-cli/aws-cli
        condition:
          changesets:
            includePaths:
              - "crest-annotation-backend/**"
              - "crest-annotation-docker/**"
              - "bitbucket-pipelines.yml"
        services:
          - docker
        script:
          - ./ecr.sh backend

    - step: &build-web-docker-step
        name: Build and publish web docker image
        image: public.ecr.aws/aws-cli/aws-cli
        condition:
          changesets:
            includePaths:
              - "crest-annotation-web/**"
              - "crest-annotation-docker/**"
              - "bitbucket-pipelines.yml"
        services:
          - docker
        script:
          - ./ecr.sh web

    - step: &upgrade-db-step
        name: Upgrade database
        image: python:3.10-slim
        condition:
          changesets:
            includePaths:
              - "crest-annotation-backend/alembic/**"
              - "bitbucket-pipelines.yml"
        script:
          - cd crest-annotation-backend
          - pip install -r requirements.txt
          - alembic upgrade head

    - step: &deploy-ecs-step
        name: Deploy to ECS
        image: public.ecr.aws/aws-cli/aws-cli
        condition:
          changesets:
            includePaths:
              - "crest-annotation-docker/**"
              - "crest-annotation-backend/**"
              - "crest-annotation-web/**"
              - "bitbucket-pipelines.yml"
        script:
          # TODO: actual deployment using docker compose or aws ecs cli
          # this only reloads the ECR images into the ECS services
          - aws ecs update-service --force-new-deployment --service crest-annotation-docker-BackendService-G2xwawkYP7qG --cluster crest-annotation-docker
          - aws ecs update-service --force-new-deployment --service crest-annotation-docker-WebService-pgwfJJXmxYlN --cluster crest-annotation-docker

  services:
    docker:
      memory: 3072

pipelines:
  custom:
    upgrade-db:
      - step: *upgrade-db-step
    deploy:
      - step: *install-web-step
      - step: *style-web-step
      - step: *lint-web-step
      - step: *build-web-step
      - step: *lint-backend-step
      - step: *build-backend-docker-step
      - step: *build-web-docker-step
      - step: *upgrade-db-step
      - step: *deploy-ecs-step
  default:
    - step: *install-web-step
    - step: *style-web-step
    - step: *lint-web-step
    - step: *build-web-step
    - step: *lint-backend-step
  branches:
    develop:
      - step: *install-web-step
      - step: *style-web-step
      - step: *lint-web-step
      - step: *build-web-step
      - step: *lint-backend-step
      - step: *build-backend-docker-step
      - step: *build-web-docker-step
      - step: *upgrade-db-step
      - step: *deploy-ecs-step

    # this is useful for CI development
    feature/ci:
      - step: *install-web-step
      - step: *style-web-step
      - step: *lint-web-step
      - step: *build-web-step
      - step: *lint-backend-step
      - step: *build-backend-docker-step
      - step: *build-web-docker-step
      - step: *upgrade-db-step
      - step: *deploy-ecs-step
