definitions:
  steps:
    - step: &install-web-step
        name: install-web
        image: node:18-slim
        condition:
          changesets:
            includePaths: ["**"] # ["crest-annotation-web/package.*.json"]
        script:
          - cd crest-annotation-web
          - npm ci
        artifacts:
          - node_modules/**
        caches:
          - node
    - step: &build-web-step
        name: build-web
        image: node:18-slim
        condition:
          changesets:
            includePaths: ["**"] # ["crest-annotation-web/**"]
        script:
          - CI=false npm run build
        artifacts:
          - build/**

    - step: &lint-backend-step
        name: lint-backend
        image: python:3.11-slim
        condition:
          changesets:
            includePaths: ["**"] # ["crest-annotation-backend/**"]
        script:
          - cd crest-annotation-backend
          - pip install -r requirements.txt
          - pylint --fail-under=9 app

    - step: &build-docker-step
        name: Build and publish docker image
        image: public.ecr.aws/sam/build-nodejs14.x
        services:
          - docker
        script:
          - aws ecr get-login-password --region eu-central-1 | /usr/local/bin/docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com

          - docker compose build backend
          - docker compose build web
          - docker tag crest-annotation-docker-backend $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/crest-backend
          - docker tag crest-annotation-docker-web $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/crest-web
          - docker push $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/crest-backend
          - docker push $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/crest-web

    - step: &deploy-ecs-step
        name: Deploy to ECS
        image: public.ecr.aws/sam/build-nodejs14.x
        script:
          - aws ecr get-login-password --region eu-central-1 | /usr/local/bin/docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com

          - docker context create ecs --from-env deploy
          - docker context use deploy
          - docker compose up

pipelines:
  default:
    - step: *install-web-step
    - step: *build-web-step
    - step: *lint-backend-step
  branches:
    develop:
      - step: *install-web-step
      - step: *build-web-step
      - step: *lint-backend-step
      - step: *build-docker-step
      - step: *deploy-ecs-step

    # this is useful for CI development
    feature/ci:
      - step: *install-web-step
      - step: *build-web-step
      - step: *lint-backend-step
      - step: *build-docker-step
      - step: *deploy-ecs-step
