version: "3.9"
services:
  backend:
    # use ECR image instead of building from Dockerfile
    image: 967446507766.dkr.ecr.eu-central-1.amazonaws.com/crest-backend:latest
  web:
    # use ECR image instead of building from Dockerfile
    image: 967446507766.dkr.ecr.eu-central-1.amazonaws.com/crest-web:latest
