version: "3.9"
services:
  db:
    container_name: crest-db
    image: postgres
    environment:
      POSTGRES_USER: ${PG_USER:-crest}
      POSTGRES_PASSWORD: ${PG_PASS:-crest}
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
  backend:
    container_name: crest-backend
    depends_on:
      - db
    build:
      # allow access to crest-annotatio-backend
      context: ../
      dockerfile: ./crest-annotation-docker/backend/Dockerfile
    environment:
      # production environment
      - ENVIRONMENT=production
      - CORS_ORIGINS=
      # database from this compose
      - DATABASE_URL=postgresql://${PG_USER:-crest}@db:5432
      - DATABASE_PASSWORD=${PG_PASS:-crest}
      - CORS_ORIGINS=${CORS_ORIGINS:-*}
    expose:
      - "8000"
    restart: unless-stopped
  web:
    container_name: crest-web
    depends_on:
      - backend
    build:
      # allow access to crest-annotatio-web
      context: ../
      dockerfile: ./crest-annotation-docker/web/Dockerfile
      args:
        # image is statically build and served by nginx
        # environment variables need to be defined at build time
        - REACT_APP_BACKEND=/api
    environment:
      # nginx image will use runtime environment variables
      # to update the nginx.conf.template
      - BACKEND_DNS=${BACKEND:-backend}
    ports:
      - 80:80
    restart: unless-stopped
volumes:
  pgdata:
