version: "3.9"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: ${PG_USER:-crest}
      POSTGRES_PASSWORD: ${PG_PASS:-crest}
    ports:
      - 5432:5432
    restart: unless-stopped
  backend:
    depends_on:
      - db
    build:
      # allow access to crest-annotatio-backend
      context: ../
      dockerfile: ./crest-annotation-docker/backend/Dockerfile
    environment:
      - DATABASE_URL=postgresql://${PG_USER:-crest}@db:5432
      - DATABASE_PASSWORD=${PG_PASS:-crest}
      - CORS_ORIGINS=${CORS_ORIGINS:-*}
    expose:
      - "8000"
    restart: unless-stopped
  web:
    depends_on:
      - backend
    build:
      # allow access to crest-annotatio-web
      context: ../
      dockerfile: ./crest-annotation-docker/web/Dockerfile
      args:
        # image is statically build and served by nginx
        # environment variables need to be defined at build time
        - NODE_ENV=${NODE_ENV:-development}
        - REACT_APP_BACKEND=/api
    ports:
      - 80:80
    restart: unless-stopped

