body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.body {
  display: grid;
  grid-template-columns: auto 3fr auto;
  overflow: hidden;
}

.content {
  padding: 2.5rem 2rem 2rem 2rem;
  overflow: hidden;
}

.scrollable {
  overflow-y: scroll;
}
